<section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
						<br>
          </div>

          <div id="shortcode2">
            <!-- Banners -->
            <div class="row">
              <div class="col-lg-6 g-mb-30">
                <!-- Article -->
                <article class="row align-items-stretch text-center mx-0">
                  <!--Article Content-->
                  <div class="col-sm-6 g-bg-black g-px-30 g-py-45">
                    <h3 class="h4 g-color-white g-font-weight-600 text-uppercase g-mb-25">Job
                      <span class="d-block g-color-primary g-font-weight-700">Seekers</span></h3>
                    <p class="g-color-gray-dark-v5 g-mb-25">There's a reason why we're so well regarded, when it comes to finding jobs. We got you covered.</p>
                    <a class="btn btn-md u-btn-outline-white g-font-weight-600 g-font-size-11 text-uppercase" href="#">Click Here</a>
                  </div>
                  <!-- End Article Content -->

                  <!-- Article Image -->
                  <div class="col-sm-6 px-0 g-bg-size-cover" data-bg-img-src="/static/images/img1.jpg" style="background-image: url(&quot;../../assets/img-temp/500x600/img1.jpg&quot;);"></div>
                  <!-- End Article Image -->
                </article>
                <!-- End Article -->
              </div>

              <div class="col-lg-6 g-mb-30">
                <!-- Article -->
                <article class="row align-items-stretch text-center mx-0">
                  <!--Article Content-->
                  <div class="col-sm-6 g-bg-black g-px-30 g-py-45">
                    <h3 class="h4 g-color-white g-font-weight-600 text-uppercase g-mb-25">Employers
                      <span class="d-block g-color-primary g-font-weight-700">& AGENCIES</span></h3>
                    <p class="g-color-gray-dark-v5 g-mb-25">You need the right person. Now. Come talk to us and we'll get you the right person. We got you covered.</p>
                    <a class="btn btn-md u-btn-outline-white g-font-weight-600 g-font-size-11 text-uppercase" href="#">Click Here</a>
                  </div>
                  <!-- End Article Content -->

                  <!-- Article Image -->
                  <div class="col-sm-6 px-0 g-bg-size-cover" data-bg-img-src="/static/images/img3.jpg" style="background-image: url(&quot;../../assets/img-temp/500x600/img3.jpg&quot;);"></div>
                  <!-- End Article Image -->
                </article>
                <!-- End Article -->
              </div>
            </div>
            <!-- End Banners -->
          </div>
        </div>
      </section>
