  <head>
    <title>Classic Header. Floating Header with primary BG | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="../../../favicon.ico">

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static  "css/bootstrap.min.css" %}" >

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
		<link rel="stylesheet" type="text/css" href="{% static  "css/font-awesome.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/style-icon-line-pro.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/style-icon-hs.css" %}">

		<link rel="stylesheet" type="text/css" href="{% static  "css/hamburger.min.css" %}">

		<link rel="stylesheet" type="text/css" href="{% static  "css/slick.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/dzsparallaxer.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/scroller.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/plugin.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/jquery.fancybox.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static  "css/animate.css" %}">

    <!-- CSS Unify -->
		<link rel="stylesheet" type="text/css" href="{% static  "css/unify.css" %}">

    <!-- CSS Customization -->
		<link rel="stylesheet" type="text/css" href="{% static  "css/custom.css" %}">
  </head>
