    <!-- JS Global Compulsory -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/dzsparallaxer.js"></script>
    <script src="/static/js/scroller.js"></script>
    <script src="/static/js/plugin.js"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/hs.megamenu.js"></script>
    <script src="/static/js/hs.popup.js"></script>
    <script src="/static/js/hs.scrollbar.js"></script>

    <!-- JS Unify -->
    <script src="/static/js/hs.core.js"></script>
    <script src="/static/js/hs.header.js"></script>
    <script src="/static/js/hs.dropdown.js"></script>
    <script src="/static/js/hs.hamburgers.js"></script>
    <script src="/static/js/hs.carousel.js"></script>

    <!-- JS Custom -->
    <script src="/static/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      ;(function ($) {
        'use strict';
        $(document).on('ready', function () {
          // Header
          $.HSCore.components.HSHeader.init($('#js-header'));
          $.HSCore.helpers.HSHamburgers.init('.hamburger');

          // Initialization of HSDropdown component
          $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function(){
              $(this).find('input[type="search"]').focus();
            }
          });

          // Initialization of HSMegaMenu plugin
          $('#dropdown-megamenu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 767
          });

          // Initialization of HSScrollBar component
          $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

          // Initialization of masonry.js
          $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
              // options
              columnWidth: '.masonry-grid-sizer',
              itemSelector: '.masonry-grid-item',
              percentPosition: true
            });
          });

          $.HSCore.components.HSCarousel.init('.js-carousel');

          // Init popups
          $.HSCore.components.HSPopup.init('.js-fancybox');
        });
      })(jQuery);
    </script>
