            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm" id="navBar">
              <ul class="navbar-nav text-uppercase g-font-weight-600 mx-auto">

                <li class="nav-item g-mx-25--lg">
                  <a href="/" class="nav-link g-px-0">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item g-mx-25--lg">
                  <a href="/jobseekers" class="nav-link g-px-0">JobSeekers</a>
                </li>

                <li class="nav-item g-mx-25--lg">
                  <a href="/employers" class="nav-link g-px-0">Employers</a>
                </li>

                <li class="nav-item g-mx-25--lg">
                  <a href="/aboutus" class="nav-link g-px-0">About US</a>
                </li>

                <li class="nav-item g-mx-25--lg">
                  <a href="/contactus" class="nav-link g-px-0">Contact US</a>
                </li>

              </ul>
            </div>
            <!-- End Navigation -->
