    <!-- Promo Block - Parallax -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after " style="height: 130%; background-image: url(/static/images/BlueDoor.png);"></div>

      <!-- Promo Block Content -->
      <div class="container u-bg-overlay__inner text-center g-py-150">
        <h2 class="h1 g-color-white g-font-weight-600 text-uppercase g-mb-30">Search <span class="g-color-primary">for</span> Jobs</h2>

        <!-- Search Form -->
        <form>
          <!-- Search Field -->
          <div class="g-max-width-540 mx-auto g-mb-20">
            <div class="input-group">
              <input type="text" class="form-control g-font-size-16 border-0" placeholder="Search words with regular expressions..." aria-label="Search words with regular expressions...">
              <span class="input-group-btn">
                <button class="btn btn-primary g-font-size-18 g-py-12 g-px-25" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <!-- End Search Field -->

          <!-- Checkboxes -->
          <div class="g-font-size-15">
            <!-- Label -->
            <label class="form-check-inline u-check g-color-white g-pl-25">
              <input class="g-hidden-xs-up" type="checkbox" checked>
              <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                <i class="g-brd-white g-brd-primary--checked g-bg-white g-bg-primary--checked g-transition-0_2 g-transition--ease-in g-rounded-2 fa" data-check-icon="&#xf00c"></i>
              </div>
              Recent
            </label>
            <!-- End Label -->

            <!-- Label -->
            <label class="form-check-inline u-check g-color-white g-pl-25 g-ml-20--md">
              <input class="g-hidden-xs-up" type="checkbox">
              <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                <i class="g-brd-white g-brd-primary--checked g-bg-white g-bg-primary--checked g-transition-0_2 g-transition--ease-in g-rounded-2 fa" data-check-icon="&#xf00c"></i>
              </div>
              Related
            </label>
            <!-- End Label -->

            <!-- Label -->
            <label class="form-check-inline u-check g-color-white g-pl-25 g-ml-20--md">
              <input class="g-hidden-xs-up" type="checkbox">
              <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                <i class="g-brd-white g-brd-primary--checked g-bg-white g-bg-primary--checked g-transition-0_2 g-transition--ease-in g-rounded-2 fa" data-check-icon="&#xf00c"></i>
              </div>
              Popular
            </label>
            <!-- End Label -->

            <!-- Label -->
            <label class="form-check-inline u-check g-color-white g-pl-25 g-ml-20--md">
              <input class="g-hidden-xs-up" type="checkbox">
              <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                <i class="g-brd-white g-brd-primary--checked g-bg-white g-bg-primary--checked g-transition-0_2 g-transition--ease-in g-rounded-2 fa" data-check-icon="&#xf00c"></i>
              </div>
              Most common
            </label>
            <!-- End Label -->
          </div>
          <!-- End Checkboxes -->
        </form>
        <!-- End Search Form -->
      </div>
      <!-- End Promo Block Content -->
    </section>
    <!-- End Promo Block - Parallax -->
