<section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
						<br>
          </div>

          <div id="shortcode2">

          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after mode-scroll">
            <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url('../../assets/img-temp/720x299/img1.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
            <div class="container g-z-index-1 g-py-100">
              <!-- Testimonials -->
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <div class="text-center g-z-index-1 text-uppercase">
                    <blockquote class="g-color-white g-font-size-28 g-mb-20">Welcome, heroes and heroines!
                      <span class="g-color-primary g-font-weight-700">We believe in you.</span> Lets find that perfect job for you.
                    </blockquote>
                  </div>
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          </div>
        </div>
      </section>
